

#wrapper {
    /*display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
    background-color: #E8707B;
    width: 1250px;
    height: 750px;
    border-radius: 50px;
    margin-top: 4em;
    box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);
}

#container {
    display: flex;
    justify-content: stretch;
    width: 1000px;
    border-radius: 50px;
    box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);

}

.square {
    display: block;
    float: left;
    background-color: #D7D7D7;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

button{
    display: block;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #EBE8E9;
    font-size: 1.5em;
    padding: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #5D878C;
    box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);
    transition-duration: 0.1s;
}

button:hover {
    background-color: #cecbcb;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

#title {
    text-align: center;
    padding: 0.4em;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    color: #F2B950;
    text-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);

}

